.experts-inner {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 424px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
