.builder,
.link3 {
  position: relative;
  font-weight: 500;
}
.builder {
  letter-spacing: 0.02em;
  line-height: 16px;
  text-transform: uppercase;
}
.link3 {
  font-size: var(--desktop-p-2-aa-medium-size);
  line-height: 24px;
  color: var(--color-black);
  display: none;
}
.header-links {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--desktop-p-3-aa-medium-size);
  color: var(--shades-4);
  font-family: var(--desktop-h-2-semibold);
}
